.bruh {
  color: red;
}
.position-a{
  text-align: center;
}
.position-b {
  text-align: right;
}
.position-c {
  text-align: left;
}
.man {
  background: green;
}
.menu {
  margin-right: 40px;
}
#startHere{
  background-color: rgba(255, 0, 0, 0.39);
}